<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ path_for('home') }}">Slim Boilerplate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                {% if auth.check %}
                    <li class="nav-item gravatar-nav">
                        {{auth.user.gravatar(auth.user.email, 32) | raw }}
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link js-scroll-tigger">{{auth.user.name}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path_for('auth.password.change') }}">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path_for('auth.signout') }}">Sign out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">How it works</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path_for('auth.signin') }}" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path_for('auth.signup') }}" class="nav-link">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>